<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./public/images/logo.png">
    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=althawra-fikra-bold" />

    <!---->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arab West - Login page</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <script src="/public/js.js"></script>
   </head>
<body>
    <h1 class="text-home-page">مرحبََا بـكم في موقع عرب ويست</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <form action="/addUser" method="post">
        <input class="input-username" name="username" placeholder="Enter your username" type="text">
        <button class="btnusername" type="submit">→</button>
    </form>
</body>
</html>